<div class="main-container">

    <!-- <div class="one">
        One
    </div>
    <div class="two">
        two
    </div>
    <div class="three">
        three
    </div> -->
    <!-- <div class="four">
        four
    </div>
    <div class="five">
        five
    </div>
    <div class="six">
        six
    </div> -->
    <!-- trying out pipes -->
    {{title | uppercase}}
    {{title | lowercase}}
    {{title}}
    {{today | date}}
    {{capString(name)}}
    {{100 | usdInr:80}} <br>
    {{ email | maskEmail }} <br>
	{{ email }} <br>
	{{ fullName | firstLetter }}
	{{ fullName }}
</div>

<!-- <div class="">
<div>
    <p>One</p>
</div>
</div> -->
