<div class="main-container text-center mt-5">
  <!-- <h1>Basic Form</h1>
  <form #form = "ngForm" (submit)="getData(form.value)">
    <div class="form-group mb-3">
      <label for="">Name</label>
      <input class="border mx-3" name="name" type="text" ngModel>
    </div>
    <pre></pre>
    <div class="form-group mb-3">
      <label for="">Mobile</label>
      <input class="border mx-3" name="mobile" type="text" ngModel>
    </div>
    <pre></pre>
    <div class="form-group mb-3">
      <label for="">Password</label>
      <input class="border mx-3" type="password" name="password" ngModel>
    </div>
    <button class="mt-3 p-1 rounded bg-gray-200" type="submit">Submit</button>
  </form>
  
  <div class="mt-5">
    <h1>User Data</h1>
   <ul>
    <li>User name is {{userData.name}}</li>
    <li>& registered number is {{userData.mobile}}</li>
   </ul>
  </div>
  

  <h1 routerLink="rforms" class="cursor-pointer">Reactive forms</h1>
  <h1 routerLink="about" class="cursor-pointer">About us</h1>
  <pre></pre>
  <h1 routerLink="admin/login" class="cursor-pointer">Admin Login</h1>
  <h1 routerLink="admin/list" class="cursor-pointer">Admin List</h1>
  <pre></pre>
  <h1 routerLink="user/login" class="cursor-pointer">User Login</h1>
  <h1 routerLink="user/list" class="cursor-pointer">User List</h1> -->
  <!-- <app-sign-page></app-sign-page> -->
  <!-- <app-reactive-forms></app-reactive-forms> -->
  <!-- <app-users [hero]="data"></app-users> -->
  <!-- <app-child 
  (parentComponent) = "parentComp($event)"></app-child>
  <div>{{name}}</div> -->
</div>

<app-responsive-design></app-responsive-design>
<!-- Components -->


<!-- <router-outlet></router-outlet> -->